<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Uploads resources if tests are successful.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>kubernetes-binary-test-fresh,kubernetes-binary-test-upgrade</upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.38.1">
      <project>kubernetes-binary-package</project>
      <filter>kubernetes-master-*-amd64.tar.gz,kubernetes-worker-*-amd64.tar.gz</filter>
      <target></target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>date

KUBERNETES_MASTER=$(ls -1 ./kubernetes-master-*-amd64.tar.gz)
# Upload the tested kubernetes-master resource to the edge channel.
echo charm attach --channel=edge cs:~containers/kubernetes-master kubernetes $KUBERNETES_MASTER

KUBERNETES_WORKER=$(ls -1 ./kubernetes-worker-*-amd64.tar.gz)
# Upload the tested kubernetes-worker resource to the edge channel.
echo charm attach --channel=edge cs:~containers/kubernetes-worker kubernetes $KUBERNETES_WORKER

date</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.32">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>