<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job deploys a kubernetes cluster, and the kubernetes-e2e charm, runs the action to test the cluster and archives the results. UNFINISHED</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>JENKINS_JUJU_DATA</name>
          <description>The directory that contains the Juju data on the Jenkins host.</description>
          <defaultValue>$WORKSPACE/juju</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DOCKER_JUJU_DATA</name>
          <description>The directory that contains the Juju data on the Docker guest.</description>
          <defaultValue>/home/ubuntu/.local/share/juju</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <EnvInjectBuilder plugin="envinject@1.93.1">
      <info>
        <propertiesContent>JENKINS_UPLOAD_TO_GCS=Y
JENKINS_GCS_LOGS_PATH=gs://canonical-kubernetes-tests
ARTIFACTS=./_artifacts</propertiesContent>
      </info>
    </EnvInjectBuilder>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.38.1">
      <project>kubernetes-e2e-runner</project>
      <filter>e2e-junit.tar.gz, e2e.log.tar.gz</filter>
      <target>_artifacts</target>
      <excludes></excludes>
      <selector class="hudson.plugins.copyartifact.StatusBuildSelector"/>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.tasks.Shell>
      <command>export JENKINS_BUILD_STARTED=&quot;$(date)&quot;

# The jenkins job actually deploying e2e goes here

# fetch the upload-to-gcs script
wget https://raw.githubusercontent.com/kubernetes/kubernetes/7dcae5edd84f06e7d71a041931391a256b34dec9/hack/jenkins/upload-to-gcs.sh
chmod +x upload-to-gcs.sh

tar xvfz _artifacts/e2e-junit.tar.gz
tar xvfz _artifacts/e2e.log.tar.gz

./upload-to-gcs.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.30">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@1.9">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.FileBinding>
          <credentialsId>JUJU_GCE_DATA_TARBALL</credentialsId>
          <variable>JUJU_GCE_DATA</variable>
        </org.jenkinsci.plugins.credentialsbinding.impl.FileBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
  </buildWrappers>
</project>